<footer class="{{ if or (isset .Params "testimonial") (isset .Params "contribute") }} bg-white {{ end }}">
  <img data-blink-src="{{ .Site.Params.logo_1 }}" alt="Sirivik logo">

  <h4>{{ .Site.Params.footer }}</h4>

  {{ with .Site.GetPage "contact" }}
  <div class="socials">
    {{ if .Params.hero.linkedin  }}
      <a href="{{ .Params.hero.linkedin }}" target="_blank" rel="noopener"><img src="site/static/img/icon_socials_linkedin-fill.svg" alt="LinkedIn logo"></a>
    {{ end }}
    {{ if .Params.hero.twitter }}
      <a href="{{ .Params.hero.twitter }}" target="_blank" rel="noopener"><img src="site/static/img/icon_socials_twitter-fill.svg" alt="Twitter logo"></a>
    {{ end }}
    {{ if .Params.hero.fb }}
      <a href="{{ .Params.hero.fb }}" target="_blank" rel="noopener"><img src="site/static/img/icon_socials_facebook-black.svg" alt="Facebook logo"></a>
    {{ end }}
    {{ if .Params.hero.ig }}
    <a href="{{ .Params.hero.ig }}" target="_blank" rel="noopener"><img src="site/static/img/icon_socials_instagram-fill.svg" alt="Instagram logo"></a>
    {{ end }}
  </div>
  {{ end }}

  <ul>
    <li>© 2021 Sirivik</li>
    <li><a href="{{ "privacy/" | relLangURL}}">Privacy Policy</a></li>
  </ul>

  <div>
    <p class="credit">Made by <a href="https://www.mutualdesign.cc/" target="_blank" rel="noopener">Mutual Design</a></p>
  </div>
  
</footer>

<script src="/app.js"></script>
