<footer class="bg-beige ph3 pv4">

	<div class="center pt3">

		<div class="flex-ns justify-between">

			<div>
        <img src="/img/logo.svg" alt="Kaldi logo" class="db w3 center mb1 br0">
        <img src="/img/wordmark.svg" alt="Kaldi logo" class="db w3 center mb4 br0">
			</div>
      
      <div>
        <h3 class="f4 b lh-title mb1">Contact</h3>
        <p class="center">Kuup, Tukai Road, Inukjuak,</p>
        <p class="center">Quebec, Canada</p>
        <br>
        <p class="center">Phone: +1 (819) 254 0114</p>
        <p class="center">Email: sirivik[dot]inukjuak[at]gmail.com</p>
      </div>

			<div>
				<h3 class="f4 b lh-title mb1">Site Menu</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/programs" class="link">Programs</a></li>
					<li><a href="/get-involved" class="link">Get Involved</a></li>
					<li><a href="/resources" class="link">Resources</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2">Site Menu</h3>
				<div class="socials">
          <a href=""><img src="img/linkedin-fill.svg" alt=""></a>
          <a href=""><img src="img/twitter-fill.svg" alt=""></a>
          <a href=""><img src="img/facebook-fill.svg" alt=""></a>
          <a href=""><img src="img/instagram-fill.svg" alt=""></a>
        </div>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
