<nav class="navbar">


	<!-- Logo -->
	<a href="{{ .Site.Home.RelPermalink }}" class="nav-logo">
		<img src="/img/logo.svg" alt="Sirivik logo" class="br0 db mb1 w-100"/>
    <img src="/img/wordmark.svg" alt="Sirivik wordmark" class="br0 db mb0 w-100"/>
	</a>
  
  <!-- Menu Icon -->
  <div class="nav-icon">
    <span class="bar bg-rose"></span>
    <span class="bar bg-blue"></span>
    <span class="bar bg-yellow"></span>
  </div>

	<!-- Primary Nav -->
	<ul class="nav-menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}">
      <a class="nav-link" href="{{ .URL | absLangURL }}" title="{{ .Title }}">
        <span>{{ .Name }}</span>
        {{ if .HasChildren }}
        <span class="" for="{{ .Name}}">
          <i class="arrow down"></i>
        </span>
        <ul class="dropdown-menu">
          {{ range .Children }}
          <li class="dropdown-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}">
            <a class="nav-link" href="{{ .URL | absLangURL }}" title="{{ .Title }}">
              <span>{{ .Name }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </a>
    </li>
    {{ end }}
    
    {{ range .Site.Menus.contribute }}
    <li class="nav-item">
      <a class="btn btn-green" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    </li>
    {{ end }}

    {{ if .Site.IsMultiLingual }}
      <li id="language-switch" class="nav-item dropdown">
      <a class="btn dropdown-toggle no-underline" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang}}
        <span> {{ .Site.Language.LanguageName }}</span>
        <i class="arrow down"></i>
      </a>
      <ul class="dropdown-menu">
        {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
                {{ if eq $translation.Lang .Lang }}
                  {{ $selected := false }}
                  {{ if eq $pageLang .Lang}}
                      <li class="dropdown-item"><a href="{{ $translation.RelPermalink }}" class="active nav-link">{{ .LanguageName }}</a></li>
                  {{ else }}
                      <li class="dropdown-item"><a href="{{ $translation.RelPermalink }}" class="nav-link">{{ .LanguageName }}</a></li>
                  {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
      </ul>
      </li>
      {{ end }}
	</ul>

</nav>
