<nav class="navbar">


	<!-- Logo -->
	<a href="{{ .Site.Home.RelPermalink }}" class="nav-logo">
		<img src="{{ .Site.Params.logo_1 }}" alt="Sirivik logo" class="logo"/>
    <img src="{{ .Site.Params.logo_2 }}" alt="Sirivik wordmark" class="wordmark"/>
	</a>
  
  <!-- Menu Icon -->
  <div class="nav-icon">
    <span class="bar bg-rose"></span>
    <span class="bar bg-blue"></span>
    <span class="bar bg-yellow"></span>
  </div>

	<!-- Primary Nav -->
	<ul class="nav-menu">
    <!-- {{ range where .Site.Pages "Type" "programs"}}
      <p>{{ .Title }}</p>
    {{ end }} -->
    {{ $currentPage := . }}
    {{ $programs := where .Site.Pages "Type" "programs" }}
    {{ range .Site.Menus.main }}
      <li class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }} {{ if eq .Identifier "programs" }} dropdown-toggle {{ end }}">
        {{ if .URL }} 
        <a class="nav-link" href="{{ .URL | absLangURL }}" title="{{ .Title }}">
        {{ end }}
          <span class="nav-btn">{{ .Name }}
            {{ if eq .Identifier "programs" }}
            <span class="" for="{{ .Name}}">
              <i class="arrow down"></i>
            </span>
          </span>
          <ul class="dropdown-menu">
            {{ range $programs }}
              {{ if eq .Params.show "Show" }}
            <li class="dropdown-item">
              <a class="nav-link" href="{{ .RelPermalink | absLangURL }}" title="{{ .Title }}">
                <span>{{ .Title }}</span>
              </a>
            </li>
              {{ end }}
            {{ end }}
          </ul>
          {{ end }}
        </a>
      </li>
    {{ end }}
    
    {{ range .Site.Menus.contribute }}
    <li class="nav-item">
      <a class="btn btn-green" href="{{ .URL | absLangURL }}">
        <span class="nav-btn">{{ .Name }}</span>
      </a>
    </li>
    {{ end }}

    {{ if .Site.IsMultiLingual }}
      <li id="language-switch" class="nav-item dropdown">
      <a class="btn no-underline toggle-lang" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang}}
        <span class="nav-btn"> 
          {{ .Site.Language.LanguageName }}
          <i class="arrow down"></i>
        </span>
      </a>
      <ul class="dropdown-menu lang-menu">
        {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
                {{ if eq $translation.Lang .Lang }}
                  {{ $selected := false }}
                  {{ if eq $pageLang .Lang}}
                      <li class="dropdown-item"><a href="{{ $translation.RelPermalink }}" class="active nav-link">{{ .LanguageName }}</a></li>
                  {{ else }}
                      <li class="dropdown-item"><a href="{{ $translation.RelPermalink }}" class="nav-link">{{ .LanguageName }}</a></li>
                  {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
      </ul>
      </li>
      {{ end }}
	</ul>

</nav>
