<div class="supporter-logos">
  {{ range (where .Site.Pages "Type" "supporters") }}
    {{if .Params.link }}
      <a class="supporter" href="{{ .Params.link }}" title="{{.Params.title}}" target="_blank" rel="noopener">
        {{ if .Params.logo }}
          <img data-blink-src="{{.Params.logo}}" alt="{{.Params.title}}">
      
          {{ else }}
      
          <p> {{.Params.title}} </p>
      
        {{ end }}
      
      </a>
    {{ else }}
      <div class="supporter" title="{{.Params.title}}">
        {{ if .Params.logo }}
          <img data-blink-src="{{.Params.logo}}" alt="{{.Params.title}}">
      
          {{ else }}
      
          <p> {{.Params.title}} </p>
      
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>