.dropdown-menu {
  background-color: var(--white);
  color: var(--black);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 50;
  max-width: 15rem;
  transition: all 0.5s ease;
  display: none;
  text-align: left;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(57, 40, 166, 0.15);
}

.nav-item:hover .dropdown-menu,
.nav-item:focus .dropdown-menu,
.nav-item:active .dropdown-menu {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown-item {
  padding: 0.5rem;
  border-bottom: 1px solid var(--lavender);
}

.dropdown-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

@media (--breakpoint-not-small) {

}


@media (--breakpoint-medium) {

}

@media (--breakpoint-large) {

}