{{ define "main" }}
 
<div class="hero-full bg-green">
  {{ with .Params.hero }}
    {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image ) }}
    {{ $resized := $imageResource.Fit "800x400" }}
    <img class="img-hero" src="{{ $resized.RelPermalink }}" alt="{{ .alt }}"/>
  {{ end }}
  <div class="about hero-text">
    <h1 id="our-story">{{ $.Param "story.heading" }}</h1>
    <div>{{ $.Param "story.description" | markdownify }}</div>
  </div>
</div>

<div id="our-objectives" class="">
    <h2>{{ $.Param "objectives.heading" }}</h2>
  <div class="card-wrapper">
    <div class="card bg-orange">
      <div><img class="" src="{{ $.Param "objectives.icon1" }}" alt=""></div>
      <h4>{{ $.Param "objectives.description1" }}</h4>
    </div>
    <div class="card bg-blue">
      <div><img class="" src="{{ $.Param "objectives.icon2" }}" alt=""></div>
      <h4>{{ $.Param "objectives.description2" }}</h4>
    </div>
    <div class="card bg-rose">
      <div><img class="" src="{{ $.Param "objectives.icon3" }}" alt=""></div>
      <h4>{{ $.Param "objectives.description3" }}</h4>
    </div>
  </div>
</div>

<div id="get-to-know-us">
  <h2>{{ $.Param "knowUsHeading" }}</h2>
  <div>
    <h3>{{ $.Param "staffHeading" }}</h3>
    <div class="card-grid people">
      {{ range .Params.staff }}
      <div class="card">
        <img src="{{ .image }}" alt="{{ .alt }}" />
        <div>
          <h5>{{ .name }}</h5>
          <em>{{ .role }}</em>
          <p>{{ .bio }}</p>
        </div>
      </div>
      {{ end }}
    </div> 
  </div>
  <div>
    <h3>{{ $.Param "boardHeading" }}</h3>
    <div class="card-grid people">
      {{ range .Params.board }}
      <div class="card">
        <img src="{{ .image }}" alt="{{ .alt }}" />
        <div>
          <h5>{{ .name }}</h5>
          <em>{{ .role }}</em>
          <p>{{ .bio }}</p>
        </div>
      </div>
      {{ end }}
    </div> 
  </div>
</div>

<div class="supporters">
  <h2>{{ $.Param "supporters.heading" }}</h2>
  <p>{{ $.Param "supporters.description" }}</p>
  {{ partial "supporter" . }}
</div>

{{ end }}
