{{ define "main" }}

<div class="hero bg-purple white">
  {{ with .Params.hero }}
    {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image_ft ) }}
    {{ $resized := $imageResource.Fit "600x600" }}
    <img class="img-hero" src="{{ $resized.RelPermalink }}" alt="{{ .alt }}"/>
  {{ end }}
  <div>
    <h1>{{ $.Param "hero.title" }}</h1>
    <div class="address">
      <p>{{ $.Param "hero.address.street" }}</p>
      <p>{{ $.Param "hero.address.city" }}</p>
      <p>{{ $.Param "hero.address.country" }}</p>
      <p>{{ $.Param "hero.address.post" }}</p>
      <br>
      <p>{{ $.Param "hero.phone" }}</p>
      <p>{{ $.Param "hero.email" }}</p>
    </div>
    <div class="socials">
      {{ if $.Param "hero.linkedin" }}
        <a href="{{ $.Param "hero.linkedin" }}" target="_blank" rel="noopener"><img src="resources/icon_socials_linkedin-fill.svg" alt="LinkedIn logo"></a>
      {{ end }}
      {{ if $.Param "hero.twitter" }}
        <a href="{{ $.Param "hero.twitter" }}" target="_blank" rel="noopener"><img src="resources/icon_socials_twitter-fill.svg" alt="Twitter logo"></a>
      {{ end }}
      {{ if $.Param "hero.fb" }}
        <a href="{{ $.Param "hero.fb" }}" target="_blank" rel="noopener"><img src="resources/icon_socials_facebook-fill.svg" alt="Facebook logo"></a>
      {{ end }}
      {{ if $.Param "hero.ig" }}
      <a href="{{ $.Param "hero.ig" }}" target="_blank" rel="noopener"><img src="resources/icon_socials_instagram-fill.svg" alt="Instagram logo"></a>
      {{ end }}
    </div>
  </div>
</div>

<div class="bg-white visit">
  <div class="section-header">
    <h2>{{ $.Param "visit.title" }}</h2>
    <p>{{ $.Param "visit.subtitle" }}</p>
  </div>
  <a href="{{ $.Param "visit.link" }}" target="_blank" rel="noopener" title="Directions to Sirivik">
    <img class="img-map" src="{{ $.Param "visit.map" }}" alt="{{ $.Param "visit.title" }}">
  </a>
</div>

{{ end }}
