{{ define "main" }}

<div class="bg-teal white">
  <div class="hero-full">
    {{ with .Params.hero }}
      {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image_ft ) }}
      <img class="hide-sm img-hero" src="{{ $imageResource.RelPermalink }}" alt="{{ .alt }}"/>
    {{ end }}
    <div class="hero-text">
      <h1>{{ $.Param "hero.title" }}</h1>
      <p class="center">{{ $.Param "hero.subtitle" }}</p>
    </div>
  </div>

  <div class="col-2">
    <div class="contribute-text">{{ $.Param "contribute.md" | markdownify }}</div>
    <div class="donation">

      {{ $code := .Params.contribute.code }}
      {{ .RenderString $code }}
      
    </div>
  </div>

</div>

<div class="img-popout-container partner">
  <div class="img-popout-wrapper">
    {{ with .Params.partner }}
      {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image ) }}
      {{ $resized := $imageResource }}
      <img src="{{ $resized.RelPermalink }}" alt="{{.alt}}"/>
    {{ end }}
    <!-- <img src="{{ $.Param "partner.image" }}" alt="{{ $.Param "partner.alt" }}"> -->
    <div class="img-popout-text">
      <h2>{{ $.Param "partner.title" }}</h2>
      <div>{{ $.Param "partner.description" | markdownify }}</div>
      <a href="{{ "contact/" | relLangURL }}" class="btn bg-rose">{{ $.Param "partner.button" }}</a>
    </div>
  </div>
</div>
{{ end }}