{{ define "main" }}

<div class="hero bg-purple white">
  {{ partial "image-hero" .Params.hero.img }}
  <div class="hero-text">
    <h1>{{ $.Param "hero.title" }}</h1>
    <div class="address">
      <p>{{ $.Param "hero.address.street" }}</p>
      <p>{{ $.Param "hero.address.city" }}</p>
      <p>{{ $.Param "hero.address.country" }}</p>
      <p>{{ $.Param "hero.address.post" }}</p>
      <br>
      <a class="contact-link" href="tel:{{ $.Param "hero.phone" }}">{{ $.Param "hero.phone" }}</a>
      <a class="contact-link" href="mailto:{{ $.Param "hero.email" }}">{{ $.Param "hero.email" }}</a>
    </div>
    <div class="socials">
      {{ if $.Param "hero.linkedin" }}
        <a href="{{ $.Param "hero.linkedin" }}" target="_blank" rel="noopener"><img src="site/static/img/icon_socials_linkedin-fill.svg" alt="LinkedIn"></a>
      {{ end }}
      {{ if $.Param "hero.twitter" }}
        <a href="{{ $.Param "hero.twitter" }}" target="_blank" rel="noopener"><img src="site/static/img/icon_socials_twitter-fill.svg" alt="Twitter"></a>
      {{ end }}
      {{ if $.Param "hero.fb" }}
        <a href="{{ $.Param "hero.fb" }}" target="_blank" rel="noopener"><img src="site/static/img/icon_socials_facebook-fill.svg" alt="Facebook"></a>
      {{ end }}
      {{ if $.Param "hero.ig" }}
      <a href="{{ $.Param "hero.ig" }}" target="_blank" rel="noopener"><img src="site/static/img/icon_socials_instagram-fill.svg" alt="Instagram"></a>
      {{ end }}
    </div>
  </div>
</div>

<div class="bg-white visit">
  <div class="section-header">
    <h2>{{ $.Param "visit.title" }}</h2>
    <p>{{ $.Param "visit.subtitle" }}</p>
  </div>
  <a href="{{ $.Param "visit.link" }}" target="_blank" rel="noopener" title="Directions to Sirivik">
    <img class="img-map" data-blink-src="{{ $.Param "visit.map" }}" alt="{{ $.Param "visit.title" }}">
  </a>
</div>

{{ end }}
