{{ define "main" }}

<div class="hero bg-blue">
  {{ partial "image-hero" .Params.hero.img }}
  <div>
    <h1 id="our-story">{{ $.Param "hero.title"}}</h1>
    <p>{{ $.Param "hero.subtitle"}}</p>
    {{ if $.Param "hero.button" }}
    <a href="{{ "contact/" | relLangURL }}" class="btn bg-rose">{{ $.Param "hero.button"}}</a>
    {{ end }}
  </div>
</div>

<div class="get-involved">
  <div class="card-grid border">
    {{ range .Params.getInvolvedList }}
    <div class="card">
      {{ partial "image" .img }}
      <div class="card-text">
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
        <a class="arrow-link" href="{{ "contact/" | relLangURL }}">{{ .button }}</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ if where (where .Site.Pages "Type" "jobs") "Params.show" "=" "true" }}
<div class="bg-purple opportunities">
  <div class="section-header">
    <h2>{{ $.Param "opportunities.title" }}</h2>
    <p>{{ $.Param "opportunities.subtitle" }}</p>
  </div>
  {{ partial "jobs" . }}
</div>
{{ end }}

<div class="img-grid">
  {{ with .Params }}
    {{ partial "image-div" .images.img_1 }}
    {{ partial "image-div" .images.img_2 }}
    {{ partial "image-div" .images.img_3 }}
    {{ partial "image-div" .images.img_4 }}
    {{ partial "image-div" .images.img_1 }}
  {{ end }}
</div>

{{ end }}
