{{ define "main" }}

<div class="hero bg-blue">
  {{ with .Params.hero }}
    {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image_ft ) }}
    {{ $resized := $imageResource.Fill "800x800" }}
    <img class="img-hero" src="{{ $resized.RelPermalink }}" alt="{{.alt}}"/>
  {{ end }}
  <div>
    <h1 id="our-story">{{ $.Param "hero.title"}}</h1>
    <p>{{ $.Param "hero.subtitle"}}</p>
    {{ if $.Param "hero.button" }}
    <a href="{{ "contact/" | relLangURL }}" class="btn bg-rose">{{ $.Param "hero.button"}}</a>
    {{ end }}
  </div>
</div>

<div class="get-involved">
  <div class="card-grid border">
    {{ range .Params.getInvolvedList }}
    <div class="card">
      <img src="{{ .image }}" alt="{{ .alt }}">
      <div class="card-text">
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
        <a class="arrow-link" href="{{ "contact/" | relLangURL }}">{{ .button }}</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ if where (where .Site.Pages "Type" "jobs") "Params.show" "=" "true" }}
<div class="bg-purple opportunities">
  <div class="section-header">
    <h2>{{ $.Param "opportunities.title" }}</h2>
    <p>{{ $.Param "opportunities.subtitle" }}</p>
  </div>
  {{ partial "jobs" . }}
</div>
{{ end }}

<div class="img-grid">
  {{ with .Params.gallery }}
  <div>
    <img src="{{ .image1 }}" alt="{{ .alt1 }}" />
  </div>
  <div>
    <img src="{{ .image2 }}" alt="{{ .alt2 }}" />
  </div>
  <div>
    <img src="{{ .image3 }}" alt="{{ .alt3 }}" />
  </div>
  <div>
    <img src="{{ .image4 }}" alt="{{ .alt4 }}" />
  </div>
  <div>
    <img src="{{ .image5 }}" alt="{{ .alt5 }}" />
  </div>
  {{ end }}

</div>

{{ end }}
