{{ define "main" }}

<div class="hero bg-blue">
  {{ with .Params.hero }}
    {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image_ft ) }}
    {{ $resized := $imageResource.Fill "800x800" }}
    <img class="img-hero" src="{{ $resized.RelPermalink }}" alt="{{.alt}}"/>
  {{ end }}
  <div>
    <h1 id="our-story">{{ $.Param "hero.title"}}</h1>
    <p>{{ $.Param "hero.subtitle"}}</p>
    {{ if $.Param "hero.button" }}
    <a href="{{ "contact/" | relLangURL }}" class="btn bg-rose">{{ $.Param "hero.button"}}</a>
    {{ end }}
  </div>
</div>

<div class="get-involved">
  <div class="card-grid border">
    {{ range .Params.getInvolvedList }}
    <div class="card">
      <img src="{{ .image }}" alt="{{ .alt }}">
      <div class="card-text">
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
        <a class="arrow-link" href="{{ "contact/" | relLangURL }}">{{ .button }}</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>

<div class="bg-purple opportunities">
  <div class="section-header">
    <h2>{{ $.Param "opportunities.title" }}</h2>
    <p>{{ $.Param "opportunities.subtitle" }}</p>
  </div>

  {{ if .Params.opportunitiesList }}

  <section class="accordion-wrapper">
    {{ range .Params.opportunitiesList }}
      <button class="accordion">
        <h5 class="center">{{ .title }}</h5>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" fill="rgba(255,255,255,1)"/></svg>
      </button>
      <div class="panel">
        <div>{{ .description | markdownify}}</div>
      </div>
    {{ end }}
  </section>
  {{ end }}

</div>

<div class="img-grid">
  {{ with .Params.gallery }}
  <div>
    <img src="{{ .image1 }}" alt="{{ .alt1 }}" />
  </div>
  <div>
    <img src="{{ .image2 }}" alt="{{ .alt2 }}" />
  </div>
  <div>
    <img src="{{ .image3 }}" alt="{{ .alt3 }}" />
  </div>
  <div>
    <img src="{{ .image4 }}" alt="{{ .alt4 }}" />
  </div>
  <div>
    <img src="{{ .image5 }}" alt="{{ .alt5 }}" />
  </div>
  {{ end }}

</div>

{{ end }}
