{{ define "main" }}

<div class="hero-full">
  {{ with .Params.hero }}
      {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image_ft ) }}
      {{ $resized := $imageResource.Fit "800x400" }}
      <img class="img-hero" src="{{ $resized.RelPermalink }}" alt="{{ .alt }}"/>
    {{ end }}
  <!-- <img class="img-hero" src="{{ $.Param "hero.image_ft"}}" alt="{{ $.Param "hero.alt"}}"> -->
  <div class="hero-text resources">
    <h1>{{ $.Param "hero.title"}}</h1>
    <div>{{ $.Param "hero.subtitle" | markdownify }}</div>
  </div>
</div>

<div class="card-grid resources">
  {{ range .Params.resource }}
    <div class="card">
      {{ if .image }}
      <img src="{{ .image }}" alt="{{ .alt }}">
      {{ end }}
      <div>
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
        {{ if .pdfEn }}
          <a class="arrow-link db" href="{{ .pdfEn }}" target="_blank" rel="noopener">English →</a>
        {{ end }}
        {{ if .pdfIu }}
          <a class="arrow-link db" href="{{ .pdfIu }}" target="_blank" rel="noopener">Inuktitut →</a>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>

<div class="hero-full resources bg-rose white">
  {{ with .Params.publications }}
      {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image ) }}
      {{ $resized := $imageResource.Fit "800x400" }}
      <img class="img-full" src="{{ $resized.RelPermalink }}" alt="{{ .alt }}"/>
    {{ end }}
  <div class="hero-text resources">
    <h2>{{ $.Param "publications.title" }}</h2>
    <p class="center">{{ $.Param "publications.subtitle" }}</p>
  </div>
  <div class="card-grid resources">
    {{ range .Params.publicationList }}
    <div class="card">
      {{ if .image }}
      <img src="{{ .image }}" alt="{{ .alt }}">
      {{ end }}
      <div>
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
        {{ if .pdfEn }}
          <a class="arrow-link db" href="{{ .pdfEn }}" target="_blank" rel="noopener">English →</a>
        {{ end }}
        {{ if .pdfIu }}
          <a class="arrow-link db" href="{{ .pdfIu }}" target="_blank" rel="noopener">Inuktitut →</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
