{{ define "main" }}

<div class="pv4 ph1 pa5-ns tc">
  <img class="" src="img/about-hero.png" alt="">
  <div class="ph4">
    <h1>{{ $.Param "hero.title"}}</h1>
    <p class="center">{{ $.Param "hero.subtitle"}}</p>
  </div>
</div>

<div class="card-wrapper-resources">
  {{ range .Params.resource }}
    <div class="card">
      <div class="card-img-wrapper"><img src="{{ .image }}" alt="{{ .alt }}"></div>
      <div class="card-text-wrapper">
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
        {{ if .pdfEn }}
          <a class="arrow-link db" href="{{ .pdfEn }}" target="_blank" rel="noreferrer noopener">English →</a>
        {{ end }}
        {{ if .pdfIu }}
          <a class="arrow-link db" href="{{ .pdfIu }}" target="_blank" rel="noreferrer noopener">Inuktitut →</a>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>

<div class="publications bg-rose white">
  <div class="publications-img-wrapper">
    <img src="{{ $.Param "publications.image" }}" alt="{{ $.Param "publications.alt" }}">
  </div>
  <div class="section-header">
    <h2>{{ $.Param "publications.title" }}</h2>
    <p class="center">{{ $.Param "publications.subtitle" }}</p>
  </div>
  <div class="card-wrapper-resources">
    {{ range .Params.publicationList }}
    <div class="card">
      <div class="card-img-wrapper"><img src="{{ .image }}" alt="{{ .alt }}"></div>
      <div class="card-text-wrapper">
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
        {{ if .pdfEn }}
          <a class="arrow-link db" href="{{ .pdfEn }}" target="_blank" rel="noreferrer noopener">English →</a>
        {{ end }}
        {{ if .pdfIu }}
          <a class="arrow-link db" href="{{ .pdfIu }}" target="_blank" rel="noreferrer noopener">Inuktitut →</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
