{{ define "main" }}

<div class="hero-full">
  {{ partial "image-hero" .Params.hero.img }}
  <div class="hero-text resources">
    <h1>{{ $.Param "hero.title"}}</h1>
    <div>{{ $.Param "hero.subtitle" | markdownify }}</div>
  </div>
</div>

<div class="card-grid resources border">
  {{ range .Params.resource }}
    {{ partial "resource" . }}
  {{ end }}
</div>

<div class="hero-full resources bg-rose white">
  {{ partial "image-hero" .Params.publications.img }}
  <div class="hero-text resources">
    <h2>{{ $.Param "publications.title" }}</h2>
    <p class="center">{{ $.Param "publications.subtitle" }}</p>
  </div>
  <div class="card-grid resources">
    {{ range .Params.publication }}
      {{ partial "resource" . }}
    {{ end }}
  </div>
</div>

{{ end }}
