{{ define "main" }}

<h2 class="bg-purple white tc"> {{ $.Param "hero.title" }}</h2>
<div class="bg-yellow">
  <div class="hero flip bg-yellow">
    {{ partial "image-hero" .Params.hero.img }}
    <div class="hero-text">
      <h2>{{ $.Param "hero.description"}}</h2>
      {{ .Params.hero.subtitle | markdownify}}
    </div>
  </div>

  {{ with .Params.section1 }}
  <div class="img-popout-container bg-rose vision partner">
    <div class="img-popout-wrapper flip">
      {{ partial "image" .img }}
      <div class="img-popout-text">
        <h2>{{ $.Param "section1.title" }}</h2>
        <p>{{ $.Param "section1.description" }}</p>
      </div>
    </div>
  </div>
  {{ end }}
</div>


{{ if .Params.cardList }}

<div class="home-programs-container">
  <div class="home-programs-text">
    <h2>{{ $.Param "cardSection.title" }}</h2>
    <p>{{ $.Param "cardSection.subtitle" }}</p>
  </div>

  <div class="card-grid border">
    {{ range .Params.cardList }}
    <div class="card">
      {{ if .img }}{{ partial "image" .img }}{{ end }}
      <div class="card-text">
        <h4>{{ .title }}</h4>
        {{ if .p }}
        <p>{{ .description }}</p> 
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}


{{ if .Params.section2 }}
<div class="img-popout-container bg-blue vision" >
  <div class="img-popout-wrapper">
    {{ with .Params.section2 }}
      {{ partial "image" .img }}
    {{ end }}
    <div class="img-popout-text">
      <h2>{{ $.Param "section2.title" }}</h2>
      {{ $.Param "section2.description" | markdownify }}
    </div>
  </div>
</div>
{{ end }}

{{ if .Params.section3 }}
<div class="hero flip bg-yellow">
  {{ with .Params.section3 }}
    {{ partial "image" .img }}
  {{ end}}
  <div class="hero-text">
    <h2>{{ $.Param "section3.title"}}</h2>
    {{ $.Param "section3.description" | markdownify}}
  </div>
</div>
{{ end }}

{{ end }}
