{{ define "main" }}

<h2 class="bg-purple white tc"> {{ $.Param "hero.title" }}</h2>
<div class="bg-yellow">
  <div class="hero flip bg-yellow">
    {{ with .Params.hero }}
      {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image_ft ) }}
      {{ $resized := $imageResource.Fit "600x600" }}
      <img class="img-hero" src="{{ $resized.RelPermalink }}" alt="{{ .alt }}"/>
    {{ end }}
    <div class="hero-text">
      <h2>{{ $.Param "hero.description"}}</h2>
      {{ .Params.hero.subtitle | markdownify}}
    </div>
  </div>

  {{ if .Params.section1 }}
  <div class="img-popout-container bg-rose">
    <div class="img-popout-wrapper partner flip">
      {{ with .Params.section1 }}
        {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image ) }}
        {{ $resized := $imageResource.Fit "800x400" }}
        <img src="{{ $resized.RelPermalink }}" alt="{{ .alt }}"/>
      {{ end }}
      <div class="img-popout-text">
        <h2>{{ $.Param "section1.title" }}</h2>
        <p>{{ $.Param "section1.description" }}</p>
      </div>
    </div>
  </div>
  {{ end }}
</div>


{{ if .Params.cardList }}

<div class="home-programs-container">
  <div class="home-programs-text">
    <h2>{{ $.Param "cardSection.title" }}</h2>
    <p>{{ $.Param "cardSection.subtitle" }}</p>
  </div>

  <div class="card-grid border">
    {{ range .Params.cardList }}
    <div class="card">
      {{ if .image }}<img src="{{ .image }}" alt="{{ .alt }}" />{{ end }}
      <div class="card-text">
        <h4>{{ .title }}</h4>
        {{ if .p }}
        <p>{{ .description }}</p> 
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}


{{ if .Params.section2 }}
<div class="img-popout-container bg-blue" >
  <div class="img-popout-wrapper">
    {{ with .Params.section2 }}
        {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image ) }}
        {{ $resized := $imageResource.Fit "800x400" }}
        <img src="{{ $resized.RelPermalink }}" alt="{{ .alt }}"/>
      {{ end }}
    <div class="img-popout-text">
      <h2>{{ $.Param "section2.title" }}</h2>
      {{ $.Param "section2.description" | markdownify }}
    </div>
  </div>
</div>
{{ end }}

{{ if .Params.section3 }}
<div class="hero flip bg-yellow">
  {{ with .Params.section3 }}
    {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image ) }}
    {{ $resized := $imageResource.Fit "600x600" }}
    <img class="img-hero" src="{{ $resized.RelPermalink }}" alt="{{ .alt }}"/>
  {{ end }}
  <div>
    <h2>{{ $.Param "section3.title"}}</h2>
    {{ $.Param "section3.description" | markdownify}}
  </div>
</div>
{{ end }}

{{ end }}
