{{ define "main" }}


<div class="hero-full">
  <img class="img-full" src="{{ .Params.image_ft }}" alt="">
</div>

<div class="program-container">
  <div class="program-text">
    <h1>{{ $.Param "program-title"}}</h1>
    <div>{{ $.Param "description" | markdownify }}</div>
  </div>
  <div class="testimonial">
    <p>{{ $.Param "testimonial.label" }}</p>
    <h4>"{{ $.Param "testimonial.quote" }}"</h4>
    <em>{{ $.Param "testimonial.citation" }}</em>
  </div>
</div>

<div class="img-grid">
  <div>{{ if .Params.image_1 }}<img src="{{ .Params.image_1 }}" alt="{{ .Title }}" />{{ end }}</div>
  <div>{{ if .Params.image_2 }}<img src="{{ .Params.image_2 }}" alt="{{ .Title }}" />{{ end }}</div>
  <div>{{ if .Params.image_3 }}<img src="{{ .Params.image_3 }}" alt="{{ .Title }}" />{{ end }}</div>
  <div class="program-action-card">
    <h4>{{ $.Param "participate.heading" }}</h4>
    {{ if $.Param "participate.btn_1" }}
      <button class="btn bg-yellow">{{ $.Param "participate.btn_1" }}</button>
    {{ end }}
    {{ if $.Param "participate.btn_2" }}
      <button class="btn bg-green">{{ $.Param "participate.btn_2" }}</button>
    {{ end }}
  </div>
  <div>{{ if .Params.image_4 }}<img src="{{ .Params.image_4 }}" alt="{{ .Title }}" />{{ end }}</div>
</div>

{{ end }}
