{{ define "main" }}


<div class="hero-full">
  <img class="hero-img-full" src="img/program-hero.png" alt="">
</div>

<div class="program-container">
  <div class="program-text">
    <h1>Ulluriat Youth Country Program</h1>
    <p>Ulluriat is Sirivik’s youth country food program working to increase youth involvement in the <strong>traditional food system</strong>.</p>
    <p>On the land outings and workshops with knowledge holders provide youth the opportunity to gain new skills, confidence and increased access to country food. </p>
  </div>
  <div class="program-action-card">
    <h4>Want to participate or contribute to this program?</h4>
    <div class="btn-group">
      <button class="btn bg-yellow">Join Program</button>
    <button class="btn bg-green">Donate</button>
    </div>
    
  </div>
</div>

<div class="img-flex">
  <div><img src="img/program-1.png" alt=""></div>
  <div><img src="img/program-2.png" alt=""></div>
</div>

<div class="testimonials">
  <div class="testimonial-img"><img src="img/program-testimonial.png" alt=""></div>
  <div class="testimonial-text"> 
    <p>Reprehenderit esse labore id veniam ut veniam non ex adipisicing amet ullamco dolor proident. Exercitation velit ea incididunt sit qui do ipsum fugiat laboris minim nostrud dolor qui.</p>
    <p>John Doe</p>
  </div>
</div>

<div class="img-flex">
  <div><img src="img/program-3.png" alt=""></div>
  <div><img src="img/program-4.png" alt=""></div>
  <div><img src="img/program-5.png" alt=""></div>
</div>

{{ end }}
