{{ define "main" }}

<div class="hero bg-purple white">
  <img class="img-hero" src="img/contact-hero-2.png" alt="">
  <div class="ph4">
    <h1>Get in Touch</h1>
    <p class="center">110 W 30th Street, 6th Floor</p>
    <p class="center">New York, NY 10001, USA</p>
    <br>
    <p class="center">Phone: +1 (819) 254 0114</p>
    <p class="center">Email: sirivik[dot]inukjuak[at]gmail.com</p>
   <br>
    <div class="socials">
      <a href=""><img src="img/linkedin-fill.svg" alt=""></a>
      <a href=""><img src="img/twitter-fill.svg" alt=""></a>
      <a href=""><img src="img/facebook-fill.svg" alt=""></a>
      <a href=""><img src="img/instagram-fill.svg" alt=""></a>
    </div>
  </div>
</div>

<div class="bg-white pv4 ph4 pa5-ns tc">
  <div class="pb3">
    <h2 class="pb3">Visit Us</h2>
    <p class="center">If you would like to request a tour of our facilities, please contact wade@qajuqturvik.ca. You are also welcome to join us for lunch, served seven days a week!</p>
  </div>
  <img class="img-map" src="img/contact-map.png" alt="">
</div>

{{ end }}
