{{ define "main" }}

<div class="hero-full bg-teal white pb7 pb5-ns">
  <img class="hero-img-full" src="img/contact-hero-2.png" alt="">
  <div class="ph4">
    <h1>Contribute</h1>
    <p class="center">Reprehenderit esse labore id veniam ut veniam non ex adipisicing amet ullamco dolor proident. Exercitation velit ea incididunt sit qui do ipsum fugiat laboris minim nostrud dolor</p>
  </div>

  <div>Donorbox or something else here!</div>

</div>

<div class="img-overlap-container">
  <div class="img-overlap-wrapper">
    <img src="img/program-food-box.png" alt="">
    <div class="img-overlap-text">
      <h2>Partner with us</h2>
      <p class="">Have an idea of a way you can support our organization?</p>
      <p class="">Reprehenderit esse labore id veniam ut veniam non ex adipisicing amet ullamco dolor proident. </p>
      <button class="btn bg-rose">Contact Us</button>
    </div>
  </div>
</div>

{{ end }}
