/* Contribute Page */

.hide-sm {
  display: none;
  
  @media (--breakpoint-medium) {
    display: block;
  }
}

.col-2 {
  padding: var(--spacing-medium) var(--spacing-large);
  padding-bottom: 40%;
  
  .contribute-text {
    display: none;
  } 

  .donation {
    margin: 0 auto;
    margin-bottom: var(--spacing-extra-large);
    min-width: 300px;
    max-width: min-content;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background: var(--white);
  }
  
  @media (--breakpoint-medium) {
    padding: var(--spacing-medium) var(--spacing-extra-large);
    display: flex;
    justify-content: space-between;
    
    div {
      flex-grow: 1;
    }

    .contribute-text {
      display: block;
      margin-right: var(--spacing-extra-large);
      max-width: 50%;
    }

    .donation {
      box-shadow: none;
    }
  }
}

.img-popout-container.partner {
  margin-top: 0;
  .img-popout-text {
    color: inherit;
  }
}