.visit {
  padding: var(--spacing-large) var(--spacing-medium);

  @media (--breakpoint-medium) {
    padding: var(--spacing-large) var(--spacing-extra-large);
    
  }
}

.img-map {
  padding: var(--spacing-medium) 0;
  object-fit: contain;
  @media (--breakpoint-medium) {
    max-height: 90vh;
    width: 100%;
  }
}

.socials {
  margin: var(--spacing-medium) auto 0;
  a {
    padding: .25rem;
    &:hover {
      opacity: 80%;
    }
  }
}

.contact-link {
  display: block;
  font-weight: normal;
  &:hover {
    text-decoration: underline;
  }
}