/* Resources Page */

.card-grid.resources {
  padding-bottom: var(--spacing-large);

  .card {
    box-shadow: none;
    padding: var(--spacing-medium);
    background-color: rgba(255, 255, 255, 0.2);

    .no-img {
      display: none;
    }
  }
  @media (max-width: 375px) {
    img {
      display: none;
    }
  }

  @media (--breakpoint-medium) {
    .card {
      background-color: inherit;
      padding: var(--spacing-small);
      flex-basis: calc(100% / 3);

      * {
        padding: 0 0 var(--spacing-small);
      }

      p {
        margin-bottom: 0;
      }

      .no-img {
        width: auto;
        padding: var(--spacing-small);
        margin-bottom: var(--spacing-small);
        display: flex;
        align-items: center;

        h4 {
          padding: 0;
          text-align: center;
          margin: 0 auto;
        }
      }

      .show-sm {
        display: none;
      }
    }
  }
}

.publications {
  margin-top: 12rem;
  padding: var(--spacing-extra-extra-large) var(--spacing-small)
    var(--spacing-medium);

  .publications-img-wrapper {
    margin-top: -70%;
    padding-bottom: var(--spacing-large);
  }

  @media (--breakpoint-medium) {
    padding: var(--spacing-extra-large);

    .publications-img-wrapper {
      margin: 0;
      height: 16rem;
      img {
        border-radius: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}
