/* Accordion */

.accordion-wrapper {
  border-radius: var(--border-radius);
  border: 1px solid var(--white);
  margin: var(--spacing-medium) auto;
  overflow: hidden;

  @media (--breakpoint-medium) {
    max-width: 80%;
    margin: var(--spacing-large) auto;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: inherit;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  padding: var(--spacing-small);
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 0;
  border-top: 1px solid var(--white);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin-bottom: 0;
    line-height: 140%;
  }

  @media (--breakpoint-medium) {
    font-size: var(--font-size-l);
  }
}
.accordion:first-child {
  border-top: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: rgba(255, 255, 255, 0.2);
}

/* Style the accordion panel. Note: hidden by default */

.panel {
padding: 18px;
max-height: 0;
display: none;
overflow: hidden;
transition: max-height 0.2s ease-out;

  div {
    margin-bottom: var(--spacing-small);
  }
}

.accordion svg {
float: right;
margin-left: 5px;
transition: transform 0.2s;
}

.accordion.active svg {
transform: rotate(180deg);
}
