.card {
  display: flex;
  margin: 0.5rem 1rem;
  
  img, .no-img {
    max-width: 30%;
    height: auto;
    margin-right: var(--spacing-medium);
    border-radius: 12px;
  }

  div h4 {
    margin: 0;
  }

  div p {
    font-size: 12px;
  }

  .arrow-link {
    margin-top: auto;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  @media (--breakpoint-medium) {
    flex-direction: column;
    padding: var(--spacing-medium);
    margin: 0;
    img, .no-img {
      max-width: inherit;
      width: 100%;
      margin: 0;
      border-radius: var(--border-radius);
    }
    div p {
      font-size: 0.875rem;
    }

    .card-text {
      justify-content: start;
    }
    
  }
}
 
.card-grid {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-large);
  .card {
    text-align: left;
    padding: var(--spacing-small) var(--spacing-small);
    border-radius: 16px;
    box-shadow: var(--shadow);

    img, .no-img {
      aspect-ratio: 11/12;
      height: 100%;
      max-height: 20vh;
    }
  }

  @media (--breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-medium) var(--spacing-extra-large);
    margin: 0 auto;
    justify-content: center;

    .card {
      border: none !important;
      box-shadow: none;
      max-width: 29vw;
      flex-basis: calc(100% / 3);
      flex-grow: 1;
      margin-bottom: var(--spacing-medium);
      
      img, .no-img {
        height: 10rem;
        margin: var(--spacing-small);
        margin-left: 0;
        border-radius: 12px;
        padding: 0;
      }

      * {
        padding: var(--spacing-small) 0;
      }
    }
  }
}

.card-grid.people {
  .card {
    box-shadow: none;

    em {
      padding-top: 0;
    }

    h5 {
      padding-bottom: 0;
    }

    .img {
      max-width: 30%;
      height: auto;
      margin-right: var(--spacing-medium);
      aspect-ratio: 11/12;
      img {
        object-fit: contain;
        border-radius: 8px;
        max-height: 100%;
        height: unset;
        width: auto;
        max-width: 100%;
        aspect-ratio: unset;
      }
    }

    .bio {
      max-width: 70%;
    }
  }

  @media (--breakpoint-medium) {
    padding: var(--spacing-large);
    .card {
      .img {
        max-width: unset;
        height: 200px;
        margin: unset;
        aspect-ratio: unset;
        img {
          max-height: 100%;
          height: unset;
          width: auto;
          aspect-ratio: unset;
          margin: 0;
        }
      }
  
      .bio {
        max-width: unset;
      }
    }
  }
}

/* Borders on Home, Get Involved, Vision */

.card-grid.border {
  .card:nth-child(6n+1) {
    border: 3px solid var(--blue);
  }
  .card:nth-child(6n+2) {
    border: 3px solid var(--teal);
  }
  .card:nth-child(6n+3) {
    border: 3px solid var(--green);
  }
  .card:nth-child(6n+4) {
    border: 3px solid var(--yellow);
  }
  .card:nth-child(6n+5) {
    border: 3px solid var(--orange);
  }
  .card:nth-child(6n+6) {
    border: 3px solid var(--rose);
  }
}

/* Backgrounds on Resources Cards */
.card-grid.resources {
  .card:nth-child(6n+1) {
    .no-img {
      background: var(--blue);
    }
  }
  .card:nth-child(6n+2) {
    .no-img {
      background: var(--teal);
    }
  }
  .card:nth-child(6n+3) {
    .no-img {
      background: var(--green);
    }
  }
  .card:nth-child(6n+4) {
    .no-img {
      background: var(--yellow);
    }
  }
  .card:nth-child(6n+5) {
    .no-img {
      background: var(--orange);
    }
  }
  .card:nth-child(6n+6) {
    .no-img {
      background: var(--rose);
    }
  }
}

/* Home Card Styles */

.home-programs-container .card-grid {
  .card {
    .img {
      max-width: 30%;
      aspect-ratio: 11/12;
      max-height: 20vh;
      margin-right: var(--spacing-medium);

      img {
        max-width: 100%;
        aspect-ratio: unset;
        max-height: 100%;
        margin: 0;
        height: auto;
        border-radius: 8px;
      }
    }

    @media (--breakpoint-medium) {
      .img {
        max-width: 100%;
        aspect-ratio: unset;
        max-height: 12rem;
        img {
          height: 100%;
        }
      }
    }
  }
}

.card-grid.support {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;

  @media (--breakpoint-medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card {
    color: var(--white);
    margin: var(--spacing-small);
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    justify-content: center;
    height: 6rem;

    img {
      object-fit: contain;
      max-width: 50%;
      height: 30%;
      margin: 0 auto;
      border-radius: 0;
    }

    h4 {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    @media (--breakpoint-medium) {
      box-shadow: var(--shadow);
      height: 10rem;
      margin: 0 var(--spacing-medium);
      padding: var(--spacing-small);
    }
  }
}