/* Footer */

footer {
  background-color: var(--beige);
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
  * {
    padding: var(--spacing-extra-small);
    margin: 0 auto;
  }

  img {
    max-width: 4rem;
    margin: 0 auto;
  }

  ul {
    display: flex;
    justify-content: center;
    color: var(--brown);
    font-size: 0.875rem;
  }

  a {
    text-decoration: none;
  }

  .socials {
    margin: 0 auto;
  }

  .credit {
    font-size: 0.7rem;
    text-transform: uppercase;
    a {
      font-weight: bold;
      color: inherit;
      font-size: 0.7rem;
    }
  }

}
