body {
  background-color: var(--beige);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

/* About Page */

#our-objectives {
  background-color: var(--white);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;

  h2 {
    text-align: center;
    padding: var(--spacing-medium);

    @media (--breakpoint-medium) {
    background-color: var(--teal);
    color: var(--white);
    }
  }

  .card-wrapper {
    display: flex;
    color: var(--white);
    margin: 1rem .5rem 2rem;

    @media (--breakpoint-medium) {
      margin: 0;
    }

    .card {
      text-align: center;
      padding: 2rem 0.25rem 0.75rem;
      border-radius: 12px;
      margin: 1rem 0.25rem;
      width: calc(100% / 3);
      
      img {
        height: 3rem;
      }

      h4 {
        font-size: .875rem;
      }
    
      @media (--breakpoint-medium) {
        margin: 0;
        border-radius: 0;
        padding: var(--spacing-extra-large);
        
        img {
          height: auto;
        }

        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }

  @media (--breakpoint-medium) {
    padding: 0;
  }
}

#get-to-know-us {
  padding: var(--spacing-small);

  @media (--breakpoint-medium) {
    padding: var(--spacing-medium);
  }
}

.card-wrapper-people {   
  @media (--breakpoint-medium) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }   
}

.card {
  display: flex;
  margin: 1rem;
  
  img {
    width: 30%;
    height: auto;
    margin-right: 1rem;
    border-radius: 12px;
  }

  div h4 {
    margin: 0 0 .5rem;
  }

  div p {
    font-size: 12px;
  }

  @media (--breakpoint-medium) {
    display: block;
    padding: var(--spacing-medium);
    margin: 0;
    img {
      width: 100%;
      margin: 0;
      border-radius: var(--border-radius);
    }
    div p {
      font-size: var(--font-size);
    }
  }
}

/* Contact Page */

.hero {
  padding: var(--spacing-large) var(--spacing-extra-small);
  text-align: center;

  @media (--breakpoint-medium) {
    padding: 0;
    display: flex;
    .img-hero {
      width: 50%;
      border-radius: 0;
    }
    div {
      width: 50%;
      align-self: center;
    }
  }
}

.socials {
  margin: auto;
  a {
    padding: .25rem;

    :hover {
      opacity: 80%;
    }
  }
}

.img-map {
  @media (--breakpoint-medium) {
    max-height: 50vh;
    width: 100%;
  }
}

/* Get Involved Page */

.hero-half {
  text-align: center;  

  div {
    padding: var(--spacing-medium);
    margin-left: auto;
    margin-right: auto;

  }

  div p {
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    margin: var(--spacing-small);
  }

  @media (--breakpoint-medium) {
    padding: 0;
    display: flex;
    .img-hero {
      width: 50%;
      border-radius: 0;
    }
    div {
      width: 50%;
      align-self: center;
      padding: var(--spacing-large);
    }
  }
  
}

.card-wrapper-get-involved {
  background-color: var(--white);
  padding: var(--spacing-extra-large) var(--spacing-large);

  .card {
    background-color: var(--white);
    padding: 2rem 1rem;
    border-radius: 16px;
    box-shadow: var(--shadow);
  }

  @media (--breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;

    .card {
      border: none;
      box-shadow: none;
      max-width: calc(100% / 3);
    }

  }

}

.arrow-link {
  text-decoration: none;
  font-weight: bold;
}

.b-blue {
  border: 4px solid var(--blue);
}

.b-teal {
  border: 4px solid var(--teal);
}

.b-green {
  border: 4px solid var(--green);
}

.b-yellow {
  border: 4px solid var(--yellow);
}

.b-orange {
  border: 4px solid var(--orange);
}

.b-rose {
  border: 4px solid var(--rose);
}

/* Accordion */

.accordion-wrapper {
  width: 80%;
  border-radius: 16px;
  border: 1px solid var(--white);
  margin: var(--spacing-medium) auto;
  overflow: hidden;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: inherit;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  padding: var(--spacing-medium);
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-radius: none;
  border-top: 1px solid var(--white);
  transition: 0.4s;
}
.accordion:first-child {
  border-top: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: rgba(255, 255, 255, 0.2);
}

/* Style the accordion panel. Note: hidden by default */

.panel {
padding: 18px;
max-height: 0;
display: none;
overflow: hidden;
transition: max-height 0.2s ease-out;
}

.accordion svg {
float: right;
margin-left: 5px;
transition: transform 0.2s;
}

.accordion.active svg {
transform: rotate(180deg);
}

/* Resources Page */

.card-wrapper-resources {
  .card-img-wrapper {
    width: 30%;
    margin-right: 1rem;
    border-radius: 12px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-text-wrapper {
    width: 70%;
  }

  @media (--breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-large);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    .card {
      padding: var(--spacing-small);
      width: calc(100%/4);
    }

    .card-img-wrapper {
      width: 100%;
    }

    .card-text-wrapper {
      width: 100%;
    }
  }
}

.publications {
  margin-top: 12rem;
  padding: var(--spacing-extra-extra-large) var(--spacing-small) var(--spacing-medium);

  .publications-img-wrapper {
    margin-top: -70%;
    padding-bottom: var(--spacing-large);
  }

  @media (--breakpoint-medium) {
    padding: var(--spacing-extra-large);
  
    .publications-img-wrapper {
      margin: 0;
      height: 16rem;
      img {
        border-radius: 0;
        height: 100%;
        width: 100%;
      }
    }

    .card-wrapper-resources {
      padding-left: 0;
      padding-right: 0;
    }

  }
}

.section-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Donate Page */

.hero-full {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-img-full {
  width: 100%;
  height: 20rem;
  border-radius: 0 !important;
}

.img-overlap-container {
  padding: var(--spacing-medium);

  .img-overlap-wrapper {
    margin-top: -50%;
  }
  
  .img-overlap-text {
    h2, p, .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (--breakpoint-not-small) {
    
    padding: var(--spacing-extra-large);
    .img-overlap-wrapper {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 0;
      width: 100%;
      margin-left: auto;
      position: relative;

      img {
        width: 70%;
      }
    }
    .img-overlap-text {
      background-color: var(--white);
      padding: var(--spacing-large);
      margin-right: -20%;
      margin-top: 10%;
      margin-bottom: 10%;
    
      h2, p, button {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

/* Program Template */

.program-container {
  padding: var(--spacing-large);

  @media (--breakpoint-medium) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 40px;
      padding: var(--spacing-extra-large);
  }

  .program-text {
    text-align: center;
    @media (--breakpoint-medium) {
      text-align: left;
      max-width: 40rem;
    }
  }
}

.testimonial {
  background: var(--yellow);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: var(--shadow-purp);
  height: max-content;
  @media (--breakpoint-medium) {
    min-width: 300px;
  }
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--spacing-medium);
  padding: var(--spacing-large);
  div {
    grid-column: span 3;
    min-height: 12rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
  div:first-of-type, div:last-of-type, .program-action-card {
    grid-column: span 6;
  }

  @media (--breakpoint-medium) {
    padding: var(--spacing-extra-large);
    grid-gap: var(--spacing-large);
    div, div:last-of-type, .program-action-card{
      grid-column: span 2;
    }
    div:first-of-type, div:nth-child(2) {
      grid-column: span 3;
    }
  }
}

.program-action-card {
  text-align: center;
  background: var(--rose);
  color: var(--white);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  .btn {
    display: block;
    min-width: 80%;
    margin: var(--spacing-medium) auto;
  }


  @media (--breakpoint-medium) {
    .btn {
      width: 12rem;
    }
  }
}

/* Home */

.fact-card-section {
  padding: var(--spacing-large) var(--spacing-medium);
  margin: 0 auto;

  @media (--breakpoint-medium) {
    padding: 0;
    h2 {
       background: var(--purple);
       color: var(--white);
       text-align: center;
       padding: var(--spacing-small);
    }
  }

}

.fact-card-wrapper {
  padding: var(--spacing-large) 0;
  background-color: var(--white);

  .fact-card {
    color: var(--white);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: var(--spacing-large);
    box-shadow: var(--shadow);

    h4 {
      width: 70%;
      font-size: 18px;
    }
  }

  @media (--breakpoint-medium) {
    display: flex;
    padding: 0;


    .fact-card {
      width: calc(100% / 3);
      margin: 0;
      padding: var(--spacing-extra-large) var(--spacing-medium);
      flex-direction: column;
      justify-content: start;
      box-shadow: none;
      border-radius: 0;

      h4 {
        font-size: 20px;
        text-align: center;
        width: auto;
      }

      .card-img-wrapper {
        max-width: 30%;
      }
    }


  }

}

.home-programs-container {
  background: white;
  padding: var(--spacing-large) 0;

  @media (--breakpoint-medium) {
    
  }

}

.support-container {
  background-color: var(--white);
  padding: var(--spacing-large) var(--spacing-medium);
  text-align: center;

  .support-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (--breakpoint-large) {
      flex-wrap: nowrap;
    }
  }

  .support-card {
    color: var(--white);
    max-width: 40%;
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    margin: var(--spacing-medium);

    img {
      padding-bottom: var(--spacing-medium);
    }

    @media (--breakpoint-medium) {
      box-shadow: var(--shadow);
    }
  }
}