body {
  background-color: var(--beige);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.redirect {
  padding: var(--spacing-large);

  div {
    margin: var(--spacing-medium) auto;
    padding: var(--spacing-small);
    background: var(--white);
    text-align: center;
  }

  @media (--breakpoint-medium) {
    max-width: 70vw;
  }
}

.img-credit {
  font-size: 0.7rem;
  text-align: right;
  width: fit-content;
  max-width: 300px;
  margin-left: auto;
  margin-right: var(--spacing-small);
  margin-top: -1.5rem;
}