/* 50% hero style used on Home, Contact, Get Involved, and Vision */

.hero {
  text-align: center;
  .img-hero {
    height: auto;
    max-height: 40vh;
    width: 100%;
    border-radius: 0 !important;
  }

  p {
    margin-left: auto;
    margin-right: auto;
  }
  
  .address {
    margin: 0 auto var(--spacing-medium);

    p {
      margin: 0 auto;
    }
  }

  div {
    padding: var(--spacing-medium);    
    padding-bottom: var(--spacing-large);
    margin: 0 auto;
  }

  .btn {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
  }

  @media (--breakpoint-medium) {
    padding: 0;
    display: flex;

    .img-hero {
      max-height: 100%;
      max-width: 50%;
      object-fit: cover;
    }
    div:not(.socials, .address) {
      align-self: center;
      padding: var(--spacing-large) var(--spacing-small);
    }
  }
}

/* Reversed Hero on Home & Vision pages */

.hero.flip {
  flex-direction: row-reverse;
  @media (--breakpoint-medium) {
    text-align: left;

    .hero-text {
      padding: var(--spacing-medium);
      padding-left: var(--spacing-large);
    }
  }
}


/* Full hero style used on About, Contribute, Program, & Resources */

.img-hero {
  width: 100%;
  max-height: 65vh;
  border-radius: 0;
}

.hero-full {

  .img-full {
    width: 100%;
    max-height: 30vh;
    border-radius: 0;
  }
  
  .hero-text {
    padding: var(--spacing-medium);
    text-align: center;
    color: var(--white);

    @media (--breakpoint-medium) {
      color: inherit;
      margin: 0 auto;
      p {
        max-width: var(--max-width-text);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .hero-text.resources {
    color: inherit;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-text.about {
    color: inherit;
    text-align: center;
    @media (--breakpoint-medium) {
      text-align: left;
      max-width: 80vw;
    }
  }
  .hero-text.privacy {
    color: inherit;
    text-align: left;
    @media (--breakpoint-medium) {
      max-width: 80vw;
    }
  }
}