.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  background-color: var(--white);
  padding: 0rem var(--spacing-medium);
  z-index: 100;
  max-height: 110px;

  @media (--breakpoint-large) {  
    padding: 0 var(--spacing-large);
  }
}

.nav-menu {
  position: fixed;
  right: -100%;
  top: 5.5rem;
  flex-direction: column;
  background-color: var(--beige);
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  font-weight: var(--bold-font-weight);
  z-index: 999;

  @media (--breakpoint-large) {
    height: auto;
    position: static;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white);
  }
}

.nav-menu.active{
  right: 0;
}

.nav-item {
  margin: var(--spacing-medium) auto;
  width: 80%;
  padding: var(--spacing-medium);
  background-color: var(--teal);
  border-radius: var(--border-radius);
  color: var(--white);
  font-size: 0.875rem;

  .btn {
    font-size: 0.875rem;
    @media (max-width: 60em) {
      background-color: inherit;
      padding: 0;
    }

  }
  
  .arrow {
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    top: 0;
    margin-bottom: 3px;
    margin-left: .5rem;
  }

  .btn .arrow {
    border: solid var(--white);
    border-width: 0 2px 2px 0;
  }

  @media (--breakpoint-large) {
    min-width: max-content;
    width: auto;
    padding: 0 0 0 2rem;
    margin: 1.5rem 0;
    background-color: var(--white);
    border-radius: none;
    color: var(--black);
    .arrow {
      border: solid var(--black);
      border-width: 0 2px 2px 0;
    }
    .btn {
      border-radius: 100px;
    }
  }
}

@media (max-width:60em) {
  .nav-item:nth-child(2) {
    background: var(--green);
  }
  .nav-item:nth-child(3) {
    background: var(--yellow);
  }
  .nav-item:nth-child(4) {
    background: var(--orange);
  }
  .nav-item:nth-child(5) {
    background: var(--blue);
  }
  .nav-item:nth-child(6) {
    background: var(--rose);
  }
  .nav-item:nth-child(7) {
    background: var(--purple);
  }
}

.nav-link {
  text-decoration: none;
  position: relative;
  padding: var(--spacing-small);

  @media (--breakpoint-large) {
    width: auto;
    padding: 0;
  }
}

.nav-link:hover, .nav-link:active  {
  color: var(--rose);
  .arrow {
    border: solid var(--rose);
    border-width: 0 2px 2px 0;
  }
}

.nav-logo {
  padding: var(--spacing-medium) 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 0.45;
  align-items: center;

  img {
    max-height: 38px;
    width: auto;
  }
  
  .wordmark {
    max-height: 33px;
    margin-bottom: -8px;
  }

  @media (--breakpoint-large) {
    flex-direction: column;
    height: 100%;
    width: auto;

    img {
      text-align: center;
      max-height: 40px;
    }
    .wordmark {
      max-height: 38px;
      margin-top: 2px;
    }
  }
}

/* Hamburger Icon */

.nav-icon {
  display: block;
  cursor: pointer;

  @media (--breakpoint-large) {
    display: none;
  }
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.nav-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.nav-icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Footer */

footer {
  background-color: var(--beige);
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
  * {
    padding: var(--spacing-extra-small);
    margin: 0 auto;
  }

  img {
    max-width: 4rem;
    margin: 0 auto;
  }

  ul {
    display: flex;
    justify-content: center;
    color: var(--brown);
    font-size: 0.875rem;
  }

  a {
    text-decoration: none;
  }

  .socials {
    margin: 0 auto;
  }

  .credit {
    font-size: 0.7rem;
    text-transform: uppercase;
    a {
      font-weight: bold;
      color: inherit;
      font-size: 0.7rem;
    }
  }
  

}