.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  background-color: var(--white);
  padding: 0rem var(--spacing-medium);
  z-index: 100;
  max-height: 110px;

  @media (--breakpoint-large) {  
    padding: 0 var(--spacing-large);
  }
}

.nav-menu {
  position: fixed;
  right: -100%;
  top: 4.2rem;
  flex-direction: column;
  background-color: var(--beige);
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  font-weight: var(--bold-font-weight);
  z-index: 999;

  @media (--breakpoint-large) {
    height: auto;
    position: static;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white);
  }
}

.nav-menu.active{
  right: 0;
}

body.active {
  position: fixed;
}

.nav-item {
  margin: 1.5rem auto;
  width: 80%;
  color: var(--white);
  font-size: var(--font-size);

  .btn {
    font-size: var(--font-size);
    @media (max-width: 975px) {
      background-color: inherit;
      padding: 0;
      display: block;
    }

  }
  
  .arrow {
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    top: 0;
    margin-bottom: 3px;
    margin-left: .5rem;
  }

  .btn .arrow {
    border: solid var(--white);
    border-width: 0 2px 2px 0;
  }

  @media (--breakpoint-large) {
    min-width: max-content;
    width: auto;
    padding: 0 0 0 2rem;
    margin: 1.5rem 0;
    background-color: var(--white);
    border-radius: none;
    color: var(--black);
    .arrow {
      border: solid var(--black);
      border-width: 0 2px 2px 0;
    }
    .btn {
      border-radius: 100px;
    }
  }
}

@media (max-width: 975px) {
  .nav-btn {
    display: block;
    padding: var(--spacing-medium);
    background-color: var(--teal);
    border-radius: var(--border-radius);
  }

  .nav-btn:hover, .nav-btn:active {
    opacity: 0.8;
    box-shadow: var(--shadow);
  }

  .nav-item:nth-child(2) .nav-btn {
    background: var(--green);
  }
  .nav-item:nth-child(3) a .nav-btn{
    background: var(--yellow);
  }
  .nav-item:nth-child(4) a .nav-btn{
    background: var(--orange);
  }
  .nav-item:nth-child(5) a .nav-btn{
    background: var(--blue);
  }
  .nav-item:nth-child(6) a .nav-btn{
    background: var(--rose);
  }
  .nav-item:nth-child(7) .nav-btn{
    background: var(--purple);
  }
}

.nav-link {
  text-decoration: none;

  @media (--breakpoint-large) {
    width: auto;
    padding: 0;
  }
}

.nav-link:hover, .nav-link:active  {

  @media (--breakpoint-large) {
    opacity: 1;
    box-shadow: none;
    color: var(--rose);
    .arrow {
      border: solid var(--rose);
      border-width: 0 2px 2px 0;
    }
  }
}

.nav-logo {
  padding: var(--spacing-medium) 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 0.45;
  align-items: center;

  img {
    max-height: 38px;
    width: auto;
  }
  
  .wordmark {
    max-height: 33px;
    margin-bottom: -8px;
  }

  @media (--breakpoint-large) {
    flex-direction: column;
    height: 100%;
    width: auto;

    img {
      text-align: center;
      max-height: 40px;
    }
    .wordmark {
      max-height: 38px;
      margin-top: 2px;
    }
  }
}

/* Hamburger Icon */

.nav-icon {
  display: block;
  cursor: pointer;

  @media (--breakpoint-large) {
    display: none;
  }
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.nav-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.nav-icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
