:root {
	/* Colors */
  --white: rgba(255, 255, 255, 1);
	--black: rgba(43, 37, 35, 1);
  --beige: rgba(248, 241, 231, 1);
  --teal: rgba(67, 170, 139, 1);
  --green: rgba(144, 190, 109, 1);
  --yellow: rgba(249, 199, 79, 1);
  --orange: rgba(248, 150, 30, 1);
  --blue: rgba(92, 173, 209, 1);
  --rose: rgba(212, 96, 106, 1);
  --purple: rgba(104, 86, 156, 1);
  --pink: rgba(104, 86, 156, 1);
  --lavender: rgba(245, 247, 255, 1);
  --brown: rgba(145, 123, 99, 1);

	/* Typography */
	--font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--iu-font-family: Fedra Sans Inuktitut Book, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;;
  --line-height: 1.5;
	--font-size: 14px;
	--font-size-m: 16px;
	--font-size-l: 18px;

	--body-font-weight: 400;
	--bold-font-weight: 800;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: 5px;
	--hover-transition: all 150ms ease;
  --shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  --shadow-purp: 0px 4px 15px 0px rgba(57, 40, 166, 0.15);

}
