{{ define "main" }}

<main class="bg-white">

</main>
 
<div class="hero bg-teal white flip">
  {{ with .Params.hero }}
    {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image_ft ) }}
    {{ $resized := $imageResource.Fill "800x800" }}
    <img class="img-hero" src="{{ $resized.RelPermalink }}" alt="{{.alt}}"/>
  {{ end }}
  <div class="hero-text">
    <h1>{{ $.Param "hero.title"}}</h1>
    <p>{{ .Params.hero.subtitle}}</p>
    <a href="{{ "about" | relLangURL }}" class="btn bg-rose">{{ .Params.hero.button}}</a>
  </div>
</div>
<div class="fact-card-section">
  <h2>{{ $.Param "facts.title"}}</h2>
  <div class="fact-card-wrapper">
    {{ if $.Param "facts.card1" }}
    <div class="fact-card bg-green">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card1.icon" }}
        <img src="{{ $.Param "facts.card1.icon" }}" alt="{{ $.Param "facts.card1.fact"}}">
        {{ else }}
        <p>{{ $.Param "facts.card1.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card1.fact"}}</h4>
    </div>
    {{ end }}
    {{ if $.Param "facts.card2" }}
    <div class="fact-card bg-yellow">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card2.icon" }}
        <img src="{{ $.Param "facts.card2.icon" }}" alt="{{ $.Param "facts.card2.fact"}}">
        {{ else }}
        <p>{{ $.Param "facts.card2.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card2.fact"}}</h4>
    </div>
    {{ end }}
    {{ if $.Param "facts.card3" }}
    <div class="fact-card bg-orange">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card3.icon" }}
        <img src="{{ $.Param "facts.card3.icon" }}" alt="{{ $.Param "facts.card3.fact"}}">
        {{ else }}
        <p >{{ $.Param "facts.card3.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card3.fact"}}</h4>
    </div>
    {{ end }}
  
  </div>

</div>

<div class="section-half">
  <div class="section-half-wrapper">
    {{ with .Params.approach }}
      {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image ) }}
      {{ $resized := $imageResource.Fill "400x400" }}
      <img src="{{ $resized.RelPermalink }}" alt="{{.imageAlt}}"/>
    {{ end }}
    <div class="half-text">
      <h2>{{ $.Param "approach.title"}}</h2>
      <p>{{ $.Param "approach.subtitle"}}</p>
    </div>
  </div>
</div>

{{ if .Params.featured.title }}
<div class="img-popout-container bg-blue">
  <div class="img-popout-wrapper">
    {{ with .Params.featured }}
      {{ $imageResource := ($.Site.GetPage "section" "resources").Resources.GetMatch (strings.TrimPrefix "resources/" .image ) }}
      {{ $resized := $imageResource.Resize "x600" }}
      <img src="{{ $resized.RelPermalink }}" alt="{{.imageAlt}}"/>
    {{ end }}
    <div class="img-popout-text">
      <h2>{{ $.Param "featured.title" }}</h2>
      <p>{{ $.Param "featured.subtitle"}}</p>
      <a href="{{ $.Param "featured.link" | relLangURL }}" class="btn bg-green">{{ $.Param "featured.button"}}</a>
    </div>
  </div>
</div>
{{ end }}

<div class="home-programs-container">
  <div class="home-programs-text">
    <h2>{{ $.Param "programs.title" }}</h2>
    <p>{{ $.Param "programs.subtitle" }}</p>
  </div>

  <div class="card-grid border">
    {{ range .Params.programList }}
    <div class="card">
      <img src="{{ .image }}" alt="{{ .alt }}" />
      <div class="card-text">
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p> 
        <a class="arrow-link" href="{{ .link | relLangURL }}">{{ $.Param "programs.btn" }}</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ with .Site.GetPage "about" }}
<div class="supporters">
  <h2>{{ .Params.supporters.heading }}</h2>
  <p>{{ .Params.supporters.description }}</p>
  <div class="supporter-logos">
    {{ range .Params.supporter }}
      {{ if .logo }}
        <a href="{{ .link }}">
          <img src="{{ .logo }}" alt="{{ .logoAlt}}" />
        </a>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end}}

<div class="support-container">
  <div class="support-text">
    <h2>{{ $.Param "getInvolved.title" }}</h2>
  </div>
  <div class="card-grid support">
    <a href="{{ "contribute/" | relLangURL }}" class="no-underline">
      <div class="card bg-yellow">
        <img class="support" src="{{ $.Param "getInvolved.icon1" }}" alt="{{ $.Param "getInvolved.title1" }}">
        <h4>{{ $.Param "getInvolved.title1" }}</h4>
      </div>
    </a>
    <a href="{{ "contribute/" | relLangURL }}" class="no-underline">
      <div class="card bg-green">
        <img class="support" src="{{ $.Param "getInvolved.icon2" }}" alt="{{ $.Param "getInvolved.title2" }}">
        <h4>{{ $.Param "getInvolved.title2" }}</h4>
      </div>
    </a>
    <a href="{{ "contribute/" | relLangURL }}" class="no-underline">
      <div class="card bg-teal">
        <img class="support" src="{{ $.Param "getInvolved.icon3" }}" alt="{{ $.Param "getInvolved.title3" }}">
        <h4>{{ $.Param "getInvolved.title3" }}</h4>
      </div>
    </a>
    <a href="{{ "contribute/" | relLangURL }}" class="no-underline">
      <div class="card bg-blue">
        <img class="support" src="{{ $.Param "getInvolved.icon4" }}" alt="{{ $.Param "getInvolved.title4" }}">
        <h4>{{ $.Param "getInvolved.title4" }}</h4>
      </div>
    </a>
  </div>
</div>

{{ end }}
