{{ define "main" }}

<main class="bg-white">

</main>

<div class="hero-half bg-teal white">
  <img class="img-hero" src="{{ $.Param "hero.image_ft"}}" alt="">

  <div>
    <h1>{{ $.Param "hero.title"}}</h1>
    <p>{{ .Params.hero.subtitle}}</p>
      <button class="btn bg-rose">{{ .Params.hero.button}}</button>
  </div>
</div>
<div class="fact-card-section">
  <h2>{{ $.Param "facts.title"}}</h2>
  <div class="fact-card-wrapper">
    {{ if $.Param "facts.card1" }}
    <div class="fact-card bg-green">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card1.icon" }}
        <img src="{{ $.Param "facts.card1.icon" }}" alt="{{ $.Param "facts.card1.fact"}}">
        {{ else }}
        <p>{{ $.Param "facts.card1.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card1.fact"}}</h4>
    </div>
    {{ end }}
    {{ if $.Param "facts.card2" }}
    <div class="fact-card bg-yellow">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card2.icon" }}
        <img src="{{ $.Param "facts.card2.icon" }}" alt="{{ $.Param "facts.card2.fact"}}">
        {{ else }}
        <p>{{ $.Param "facts.card2.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card2.fact"}}</h4>
    </div>
    {{ end }}
    {{ if $.Param "facts.card3" }}
    <div class="fact-card bg-orange">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card3.icon" }}
        <img src="{{ $.Param "facts.card3.icon" }}" alt="{{ $.Param "facts.card3.fact"}}">
        {{ else }}
        <p >{{ $.Param "facts.card3.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card3.fact"}}</h4>
    </div>
    {{ end }}
  
  </div>

</div>

<div class="section-half">
  <div class="section-half-wrapper">
    <img src="{{ $.Param "approach.image"}}" alt="{{ $.Param "approach.imageAlt"}}">
    <div class="half-text">
      <h2>{{ $.Param "approach.title"}}</h2>
      <p>{{ $.Param "approach.subtitle"}}</p>
    </div>
  </div>
</div>

{{ if .Params.featured.title }}
<div class="img-popout-container bg-blue">
  <div class="img-popout-wrapper">
    <img src="{{ $.Param "featured.image"}}" alt="{{ $.Param "featured.imageAlt"}}">
    <div class="img-popout-text">
      <h2>{{ $.Param "featured.title" }}</h2>
      <p>{{ $.Param "featured.subtitle"}}</p>
      <a href="/programs/{{ $.Param "featured.link"}}" class="btn bg-green">{{ $.Param "featured.button"}}</a>
    </div>
  </div>
</div>
{{ end }}

<div class="home-programs-container">
  <div class="home-programs-text">
    <h2>{{ $.Param "programs.title" }}</h2>
    <p>{{ $.Param "programs.subtitle" }}</p>
  </div>

  <div class="card-grid">
    {{ range .Params.programList }}
    <div class="card b-blue">
      {{ if .image }}<img src="{{ .image }}" alt="{{ .alt }}" />{{ end }}
      <div>
        <h4>{{ .title }}</h4>
        <p>{{ .description }}</p>
        <a class="arrow-link" href="/programs/{{ .link }}">{{ $.Param "programs.btn" }}</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>

  
<div class="supporters">
  <h2>We are supported by</h2>
  <p>Because making an impact is a collective effort</p>
  <div class="supporter-logos">
  
    <a href="/">
      <img src="img/logo.svg" alt="" />
    </a>
    <a href="/">
      <img src="img/logo.svg" alt="" />
    </a>
    <a href="/">
      <img src="img/logo.svg" alt="" />
    </a>
    <a href="/">
      <img src="img/logo.svg" alt="" />
    </a>

  </div>
</div>

<div class="support-container">
  <div class="support-text">
    <h2>{{ $.Param "getInvolved.title" }}</h2>
    <p>{{ $.Param "getInvolved.subtitle" }}</p>
  </div>
  <div class="card-grid support">
    <div class="card bg-yellow">
      <img class="support" src="{{ $.Param "getInvolved.icon1" }}" alt="{{ $.Param "getInvolved.title1" }}">
      <h4>{{ $.Param "getInvolved.title1" }}</h4>
      <p>{{ $.Param "getInvolved.subtitle1" }}</p>
      <a class="arrow-link" href="/donate">{{ $.Param "getInvolved.link" }}</a>
    </div>
    <div class="card bg-green">
      <img class="support" src="{{ $.Param "getInvolved.icon2" }}" alt="{{ $.Param "getInvolved.title2" }}">
      <h4>{{ $.Param "getInvolved.title2" }}</h4>
      <p>{{ $.Param "getInvolved.subtitle2" }}</p>
      <a class="arrow-link" href="/donate">{{ $.Param "getInvolved.link" }}</a>
    </div>
    <div class="card bg-teal">
      <img class="support" src="{{ $.Param "getInvolved.icon3" }}" alt="{{ $.Param "getInvolved.title3" }}">
      <h4>{{ $.Param "getInvolved.title3" }}</h4>
      <p>{{ $.Param "getInvolved.subtitle3" }}</p>
      <a class="arrow-link" href="/donate">{{ $.Param "getInvolved.link" }}</a>
    </div>
    <div class="card bg-blue">
      <img class="support" src="{{ $.Param "getInvolved.icon4" }}" alt="{{ $.Param "getInvolved.title4" }}">
      <h4>{{ $.Param "getInvolved.title4" }}</h4>
      <p>{{ $.Param "getInvolved.subtitle4" }}</p>
      <a class="arrow-link" href="/donate">{{ $.Param "getInvolved.link" }}</a>
    </div>
  </div>
</div>

{{ end }}
