{{ define "main" }}

<div class="hero-half bg-teal white">
  <img class="img-hero" src="{{ $.Param "hero.image_ft"}}" alt="">

  <div class="">
    <h1 class="">{{ $.Param "hero.title"}}</h1>
    <p>{{ .Params.hero.subtitle}}</p>
      <button class="btn bg-rose">{{ .Params.hero.button}}</button>
  </div>
</div>
<div class="fact-card-section">
  <h2>{{ $.Param "facts.title"}}</h2>
  <div class="fact-card-wrapper">
    {{ if $.Param "facts.card1" }}
    <div class="fact-card bg-green">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card1.icon" }}
        <img src="{{ $.Param "facts.card1.icon" }}" alt="{{ $.Param "facts.card1.fact"}}">
        {{ else }}
        <p>{{ $.Param "facts.card1.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card1.fact"}}</h4>
    </div>
    {{ end }}
    {{ if $.Param "facts.card2" }}
    <div class="fact-card bg-yellow">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card2.icon" }}
        <img src="{{ $.Param "facts.card2.icon" }}" alt="{{ $.Param "facts.card2.fact"}}">
        {{ else }}
        <p>{{ $.Param "facts.card2.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card2.fact"}}</h4>
    </div>
    {{ end }}
    {{ if $.Param "facts.card3" }}
    <div class="fact-card bg-orange">
      <div class="card-img-wrapper">
        {{ if $.Param "facts.card3.icon" }}
        <img src="{{ $.Param "facts.card3.icon" }}" alt="{{ $.Param "facts.card3.fact"}}">
        {{ else }}
        <p >{{ $.Param "facts.card3.number"}}</p>
        {{ end }}
      </div>
      <h4>{{ $.Param "facts.card3.fact"}}</h4>
    </div>
    {{ end }}
  
  </div>

</div>

<div class="hero-half">
  <img class="img-hero" src="{{ $.Param "approach.image"}}" alt="{{ $.Param "approach.imageAlt"}}">
  <div>
    <h2>{{ $.Param "approach.title"}}</h2>
    <p>{{ $.Param "approach.subtitle"}}</p>
  </div>
</div>

<div class="img-overlap-container bg-blue">
  <div class="img-overlap-wrapper">
    <img src="img/home-new-project.png" alt="">
    <div class="img-overlap-text">
      <h2>New project 2022</h2>
      <p class="center">Reprehenderit esse labore id veniam ut veniam non ex adipisicing amet ullamco dolor proident. Exercitation velit ea incididunt sit qui do ipsum fugiat laboris minim nostrud dolor</p>
      <button class="btn bg-green center">Learn more</button>
    </div>
  </div>
</div>

<div class="home-programs-container">
  <h2 class="center tc">Our Programs</h2>
  <p class="center tc">We offer healthy meals and food programs and are a welcoming space to eat and socialize!</p>

  <div class="card-wrapper-get-involved">
    <div class="card b-blue">
      <img src="img/program-food-box.png" alt="">
      <div>
        <h4>Food Box</h4>
        <p>Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit</p>
        <a class="arrow-link" href="/contact">Learn more →</a>
      </div>
    </div>
    <div class="card b-teal">
      <img src="img/program-food-box.png" alt="">
      <div>
        <h4>Food Box</h4>
        <p>Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit</p>
        <a class="arrow-link" href="/contact">Learn more →</a>
      </div>
    </div>
    <div class="card b-green">
      <img src="img/program-food-box.png" alt="">
      <div>
        <h4>Food Box</h4>
        <p>Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit</p>
        <a class="arrow-link" href="/contact">Learn more →</a>
      </div>
    </div>
    <div class="card b-yellow">
      <img src="img/program-food-box.png" alt="">
      <div>
        <h4>Food Box</h4>
        <p>Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit</p>
        <a class="arrow-link" href="/contact">Learn more →</a>
      </div>
    </div>
    <div class="card b-orange">
      <img src="img/program-food-box.png" alt="">
      <div>
        <h4>Food Box</h4>
        <p>Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit</p>
        <a class="arrow-link" href="/contact">Learn more →</a>
      </div>
    </div>
    <div class="card b-rose">
      <img src="img/program-food-box.png" alt="">
      <div>
        <h4>Food Box</h4>
        <p>Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit</p>
        <a class="arrow-link" href="/contact">Learn more →</a>
      </div>
    </div>
  </div>
</div>

  
<div class="pa5 white bg-rose">
  <h2 class="tc">We are supported by</h2>
  <p class="tc center">Because making impact in the world is a team effort. </p>
  <div class="flex center mt5 overflow-scroll">
    <img src="img/logo.svg" alt="">
    <img src="img/logo.svg" alt="">
    <img src="img/logo.svg" alt="">
    <img src="img/logo.svg" alt="">
    <img src="img/logo.svg" alt="">
    <img src="img/logo.svg" alt="">
  </div>
</div>

<div class="support-container">
  <h2>How you can help</h2>
  <p class="center">Supporting Sirivik has a direct impact on Inukjuamiut. Contributions from our community allow us to continue to provide food programs and support on a daily basis. Join us in creating a stronger food system!
  </p>
  <div class="support-wrapper">
    <div class="support-card bg-teal">
      <img src="img/home-icon-1.svg" alt="">
        <h4>Give today</h4>
        <p>Reprehenderit esse labore id veniam ut veniam non ex</p>
        <a class="arrow-link" href="/contact">Read more →</a>
    </div>
    <div class="support-card bg-green">
      <img src="img/home-icon-1.svg" alt="">
        <h4>Give monthly</h4>
        <p>Reprehenderit esse labore id veniam ut veniam non ex</p>
        <a class="arrow-link" href="/contact">Read more →</a>
    </div>
    <div class="support-card bg-orange">
      <img src="img/home-icon-1.svg" alt="">
        <h4>Partner with us</h4>
        <p>Reprehenderit esse labore id veniam ut veniam non ex</p>
        <a class="arrow-link" href="/contact">Read more →</a>
    </div>
    <div class="support-card bg-yellow">
      <img src="img/home-icon-1.svg" alt="">
        <h4>Volunteer</h4>
        <p>Reprehenderit esse labore id veniam ut veniam non ex</p>
        <a class="arrow-link" href="/contact">Read more →</a>
    </div>

  </div>
</div>

{{ end }}
